h1{
    font-size: 36px;
}

h3{
    font-size: 24px;
}

.bodycontent{
    /* border: solid 2px black; */
    width: 90%;
    margin: auto;
}

.well {
    margin: 20px 5px 20px 5px;

}

#googleMapsCard {
    margin: 20px 0 20px 0;
}

body {
    overflow: auto;
    box-sizing: border-box;
   
    /* background-repeat: repeat; */
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;   
}

footer {
    /* background-image: url(../images/wood.jpg); */
    /* border-bottom:solid #4a4b4b; */
    /* background-color:rgb(62,24,5); */
    /* background-color:black;  */
    width:100%;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}

.form-group {
    margin: 0 7px 5px 7px;
}

.navbar {
    /* border-radius: 5px; */
    /* font-size: 25px; */
    font-family: 'Amatic SC', cursive;
    /* background-color: rgb(62,24,5);
    color: white; */
    background-color: rgb(35, 43, 43);
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: rgb(35, 43, 43);
        width:100%;
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        font-size: 25px;
        height: 30px;
    
}

a.nav-link {
    color: #777;
    font-size: 25px; 
    font-weight: bold;
}

a.nav-link:hover {
    color:rgb(255,255,183);
}

input.form-control {
    background-color:rgb(255,255,183);
    color: white; 
}

input#searchLocation.form-control {
    width: 85%;
}

.footer{
    /* background-color:rgb(62,24,5); */
    background-color: rgb(35, 43, 43);
    /* background-color: black; */
    /* border-top:solid 5px #c6cfcf; */
    height:50px;
    line-height:30px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: .5%;
    color: #777;
    font-size: 25px; 
}

#itineraryCard {
    min-height: 175px;
    /* background-image: url(../images/background-wood-04.jpg); */
}


#map {
    height: 350px;
    width: 100%;
    margin-right: 5px;
}

div.card-body {
    height: 350px;
}

body {
    background-image: url(../images/bar1.jpg);
    background-attachment: scroll;
    background-size: cover;
    /* height: 100%; */

}

html,body, .container-fluid {
    height:100%;
    width:100%;
}

#search-results {
    height: 95%;
}

.well.well-trans, .panel-default {
	/* background-color: rgba(139, 138, 138, 0.6); */
	background-color: rgba(35, 43, 43, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
	border: none;
}

.itinerary, .card-group {
    display: flex;
    width: 100%;
    max-height: 325px;
}

.itinerary, .card-header, #search-box {
    background-color: rgba(35, 43, 43, 0.6);
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.card-header.chat-header {
    text-align: center;
    font-size: 25px;  
    font-family: 'Amatic SC', cursive;
    color: rgb(255,255,183);
    font-weight: bold;
    padding: 3px;
}

.chat {
    /* background-image: url(../images/background-wood-04.jpg); */
    padding: 10px;
}

.panel-default {
    width: 100%;
}

button, .btn {
    color: white;
    font-size: 25px;  
    font-family: 'Amatic SC', cursive;
    background-color:  rgb(35, 43, 43);
    border-style: solid;
    border-color: darkgray;
    padding: 1.99px 0px 1.99px 0px;
}

.btn:hover {
    background-color:rgb(62,24,5);
    color: white;
    cursor: pointer;
}

/* #crawl-btn {
    margin: 5px;
} */

#search-btn {
    margin-top: 3px;
}

* {box-sizing: border-box;}

.card-columns {
    column-count: 1;
}

div#search-results.card-body {
    /* height: 633px; */
    /* max-height: 500px; */
    height: 75px;
    max-height: 75px;
}

#search-box {
    margin: 20px 0 20px 0;
}

/* .col-md-4, .col-md-3, .col-md-5 {
    margin: 2px;
} */ */















